{% extends 'base.html.twig' %}

{% block title %}
	Edit EntityParent
{% endblock %}

{% block main %}
	<h1>Edit EntityParent</h1>

	{{ include('entity_parent/_form.html.twig', {'button_label': 'Update'}) }}

	<a href="{{ path('app_entity_parent_index') }}">back to list</a>

	{{ include('entity_parent/_delete_form.html.twig') }}
{% endblock %}
