{% extends 'base.html.twig' %}

{% block title %}
	EntityParent index
{% endblock %}

{% block main %}
	<h1>EntityParent index</h1>
	{% include('entity_parent/_list.html.twig') %}
	<a href="{{ path('app_entity_parent_new') }}">Create new</a>
{% endblock %}
