{% extends 'base.html.twig' %}

{% block title %}
	New EntityParent
{% endblock %}

{% block main %}
	<h1>Create new EntityParent</h1>

	{{ include('default/_form.html.twig') }}

	<a href="{{ path('app_entity_parent_index') }}">back to list</a>
{% endblock %}
