{% extends 'entity_child/layout.html.twig' %}

{% block title %}
	New EntityChild
{% endblock %}

{% block main_title %}
	Create new EntityChild
{% endblock %}

{% block main_content %}

	{{ include('default/_form.html.twig') }}

	<a href="{{ path('app_entity_parent_show',{'id': entity.parent.id }) }}">back to list</a>
{% endblock %}
