{% extends 'entity_child/layout.html.twig' %}

{% block title %}
	EntityChild
{% endblock %}

{% block main_title %}
	EntityChild
{% endblock %}

{% block main_content %}

	{{ include('entity_child/_view.html.twig') }}

	<a href="{{ path('app_entity_parent_show',{'id': entity.parent.id }) }}">back to list</a>

	<a href="{{ path('app_entity_child_edit', {'id': entity.id}) }}">edit</a>

	{{ include('default/_delete_form.html.twig', {'entity':entity, 'route': 'app_entity_child_delete'}) }}
{% endblock %}
