@import "~bootstrap/scss/bootstrap";

body {
    min-height: 100vh;
}


#header {
    border: solid 1px;
    min-height: 58px;
    margin-top: 0;
    margin-bottom: 0;
}

#wrapper {
    margin-top: 0;
    margin-bottom: 0;
}

#sidebar {
    border: solid 1px;
    margin-top: -58px;
    margin-bottom: -58px;
    padding-top: 58px;
    padding-bottom: 58px;
    min-height: 100vh;
}

#footer {
    border: solid 1px;
    height: 58px;
    margin-top: 0;
    margin-bottom: 0;
    min-height: 58px;
}
