{% extends 'base.html.twig' %}

{% block title %}
	Entity index
{% endblock %}

{% block main %}
	<h1>Entity index</h1>

	{% include('entity/_list.html.twig') %}

	<a href="{{ path('app_entity_new') }}">Create new</a>
{% endblock %}
