{% extends 'base.html.twig' %}

{% block title %}
	New Entity
{% endblock %}

{% block main %}
	<h1>Create new Entity</h1>

	{{ include('entity/_form.html.twig') }}

	<a href="{{ path('app_entity_index') }}">back to list</a>
{% endblock %}
