{% extends 'base.html.twig' %}

{% block title %}
	Entity
{% endblock %}

{% block main %}
	<h1>Entity</h1>

	{{ include('entity/_view.html.twig') }}

	<a href="{{ path('app_entity_index') }}">back to list</a>

	<a href="{{ path('app_entity_edit', {'id': entity.id}) }}">edit</a>

	{{ include('default/_delete_form.html.twig', {'entity':entity, 'route': 'app_entity_delete'})  }}
{% endblock %}
