includes:
    - phpstan-baseline.neon

parameters:
    level: max
    paths:
        - ../../../src
        - ../../../tests
        - ../../../lib/TreeBundle/lib
        - ../../../lib/ToolBundle/lib
        - ../../../lib/ToolBundle/src
        - ../../../lib/ToolBundle/tests
    bootstrapFiles:
        - ../../../vendor/autoload.php
